body{
	background: black;
	color: #fff;
	margin: 0px 20px 0px 20px;
}

.heading{
	width: 40%;
	font-family: 'PT Sans Narrow', sans-serif;
	z-index: 99;
	position: absolute;
}

.time{
	z-index: 109;
}

#realtime ul, ol {
    list-style: none;
    background-color: black;
}

.gridster {
    width: 100%;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    background: #33302B;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.3);
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(255,255, 255,0.3);
    box-shadow: 3px 3px 5px rgba(255,255, 255,0.3);
}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}

.gridster .custom_class{
	background: black;
	-webkit-box-shadow: 0 0 0px rgba(255,255,255,0.3);
    box-shadow: 0 0 0px rgba(255,255,255,0.3);
}

#number{
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	font-size: 50px;
	text-align: center;
	color: white;
	text-align: center;
}

#sub{
	font-size: 14px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	color: white;
}

#map{
	width: 96%;
	margin: 0 auto;
	margin-top: 15px;
	height: 82%;
	background-color: white;
}