body{
	background: black;
	color: #fff;
	margin: 0px 20px 0px 20px;
}

.heading{
	width: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
	z-index: 99;
	position: absolute;
	text-align: center;
	margin-top: 30px;
}

.time{
	z-index: 109;
}

#realtime ul, ol {
    list-style: none;
    background-color: black;
    z-index: 1
}

#loadingScreen{
	margin: 0 auto;
	width: 128px;
	text-align: center; 
	top: 50%;
    left: 50%;
    width:128px;
    height:128px;
    margin-top: 20%;
    z-index: 99
}

#loadingScreen p{
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center; 
	margin-top: 10px;
}

#toolbox{
	position:absolute;
	top:0;
	right:0;
	z-index: 99;
	-webkit-filter: brightness(300%); 
}

.loadingImg{
	-webkit-filter: brightness(10000%); 
}

.gridster {
    width: 100%;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    background: #33302B;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.3);
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
}

.gridster  .player {
    -webkit-box-shadow: 3px 3px 5px rgba(255,255, 255,0.3);
    box-shadow: 3px 3px 5px rgba(255,255, 255,0.3);
}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}

.gridster .custom_class{
	background: black;
	-webkit-box-shadow: 0 0 0px rgba(255,255,255,0.3);
    box-shadow: 0 0 0px rgba(255,255,255,0.3);
    text-align: center;
}

.gridsterPreview {
    width: 100%;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridsterPreview .gs_w {
    background: #33302B;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.3);
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
}

.gridsterPreview  .player {
    -webkit-box-shadow: 3px 3px 5px rgba(255,255, 255,0.3);
    box-shadow: 3px 3px 5px rgba(255,255, 255,0.3);
}

.gridsterPreview .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}

.gridsterPreview .custom_class{
	background: black;
	-webkit-box-shadow: 0 0 0px rgba(255,255,255,0.3);
    box-shadow: 0 0 0px rgba(255,255,255,0.3);
    text-align: center;
}

#widgetPreview ul, ol {
    list-style: none;
}


#widgetPreview{
	height: 200px;
}

#number{
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	font-size: 50px;
	text-align: center;
	color: white;
	text-align: center;
}

#sub{
	font-size: 14px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	color: white;
}

#map{
	width: 96%;
	margin: 0 auto;
	margin-top: 15px;
	height: 82%;
	background-color: white;
}

.widgetClose{
	position:absolute;
	top:0;
	right:0;
	padding: 5px 20px 5px 20px;
	z-index: 99;
}

/*  Add modal code */
.modal{
	color: #000;
}

.modal-body {
    max-height: 800px;
}

.modal-add{
	width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -450px;
}

.first-column {
  width: 50%;
  float: left;
}

.second-column {
  width: 50%;
  float: right;
}

.colSelect{
	height: 200px;
	background-color: #fff;
}

.withborder{
	border: 1px black solid;
}

.typeSelectable { background-color: #fff; height: 200px; overflow:scroll;}
.typeSelectable .ui-selecting { background: #FECA40; }
.typeSelectable .ui-selected { background: #F39814; color: white; }
.typeSelectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.typeSelectable li { margin: 3px; padding: 0.4em; height: 18px; }

.typeSelectableLast { background-color: #fff; height: 200px; overflow:scroll;}
.typeSelectableLast .ui-selecting { background: #FECA40; }
.typeSelectableLast .ui-selected { background: #F39814; color: white; }
.typeSelectableLast { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.typeSelectableLast li { margin: 3px; padding: 0.4em; height: 18px; }
